/* EXTRA STYLING for basic styling of the page */
html,
body {
    font-size: 16px;
    height: 100%;
    font-family: Open Sans, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #0f0d0d;
}

* {
    box-sizing: border-box;
}

main {
    text-align: center;
    margin-top: 100px;
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
    min-height: calc(100vh - 189px);
}

h1 {
    font-size: 36px;
}

details {
    font-size: 24px;
}

details p {
    font-size: 18px;
}

h2 {
    font-size: 26px;
}

header li {
    list-style: none;
}

a {
    text-decoration: none;
}

header,
footer {
    padding: 10px;
}

footer {
    text-align: right;
}

footer p {
    margin: 0;
}

/* Styling the lightbox button. Depends on project to project */
.video-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 145px;
    margin: 0 auto;
    background: radial-gradient(#ffffff 1%, #A5A19F 80%) !important;
    border: 8.5px solid #005581;
    border-radius: 50%;
    transition: all 0.3s linear;
    color: transparent;
}

.video-btn:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 52px solid #005581;
    display: inline-block;
    left: 57%;
}

.video-btn:hover {
    opacity: 0.85;
}

.video-btn:before {
    top: 50%;
    transform: translate(-50%, -50%);
}

/* EXTRA STYLING ENDS */

/* ===================================== */
/* ============ MAIN STYLING ===========*/
/* ===================================== */

.d-none {
    display: none;
}

/* LIGHTBOX POPUP STRUCTURE */
.lightbox-modal-wrapper .lightbox-modal-content {
    display: inline-block;
    max-width: 900px;
    margin: 0 auto;
    left: 50%;
    padding: 0 20px;
    max-height: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lightbox-modal-wrapper iframe,
.lightbox-modal-wrapper .lightbox-modal-content {
    position: absolute;
    width: 100%;
}

.lightbox-modal-wrapper,
.lightbox-modal-wrapper .iframe-wrapper {
    width: 100%;
}

.lightbox-modal-wrapper,
.lightbox-modal-wrapper iframe {
    height: 100%;
}

.lightbox-modal-wrapper .iframe-wrapper {
    position: relative;
    height: 0;
    background: #000000;
    padding-bottom: 56.25%;
}

.lightbox-modal-wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999;
}

.lightbox-modal-wrapper iframe {
    top: 0;
    left: 0;
    border: none;
}

.lightbox-modal-wrapper .close-btn {
    position: absolute;
    top: -65px;
    font-size: 60px;
    font-weight: 200;
    opacity: 0.2;
    color: #ffffff;
    right: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.lightbox-modal-wrapper .close-btn:hover {
    opacity: 1;
}

@media(max-height: 400px) and (max-width: 991px) {
    .lightbox-modal-wrapper .lightbox-modal-content {
        max-width: 400px;
    }

    .lightbox-modal-wrapper .close-btn {
        font-size: 40px;
        top: -50px;
    }
}